*{
    padding: 0px;
    margin: 0px;
}

body{
    background: url('https://i.gifer.com/PX5H.gif');
    height: 100vh;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.user{
    width: 100px;
    height: 100px;
}
